<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!--
    <add key="Media.FolderPath" value="d:\Quickode\BallyTaxi\server\Quickode.BallyTaxi.API\ProfileImages" />
    <add key="Media.FolderPath" value="images" />
    <add key="Storage.Account" value="getinstorage" />
    <add key="Storage.Key" value="RWYHVhKFFn3bvP8T+jn62wjEbL0Ije0onAorYOF1ag7aIf8mrO2RsQYisLIwh56jloBo7HCl0ToOpdmagN5wvw==" />
    <add key="Storage.Url" value="https://getinstorage.blob.core.windows.net/" />
    <add key="code_expiration_time" value="30" />
    <add key="free_trial_days" value="30" />
    <add key="available_radius" value="3000" />
    <add key="available_distance" value="20000" />
    <add key="available_hours_range" value="3" />
    <add key="reminder_seconds" value="1800" />
    <add key="max_order_wait_seconds" value="60" />
    <add key="max_drivers_offered_single_driver" value="20" />
    <add key="max_seconds_first_driver_offered_order" value="12" />
    <add key="Twillo.AccountSID" value="ACf86bcb8d484aabeb55e0cb91a0cb9502" />
    <add key="Twillo.AuthToken" value="e3d9d80d17cde36281aecfe902429eff" />
    <add key="Test.Twillo.AccountSID" value="AC7023a179f8efa86e4c0b294771f01ae8" />
    <add key="Test.Twillo.AuthToken" value="08972e4eaed9d996be486ec64db960a6" />
    <add key="Twillo.FromNumber" value="+441865922457" />
    <add key="Notifications.Android.SenderID.Driver" value="823648560828" />
    <add key="Notifications.Android.ApiKey.Driver" value="AIzaSyBZDWI-aCr21Fp11EHdRgy9RFqQ5rlIHSo" />
    <add key="Notifications.Android.Package.Driver" value="com.quickode.ballytaxi.ballytaxidriver" />
    <add key="Notifications.IOS.P12sandbox.Driver" value="BallyTaxi_DEV.p12" />
    <add key="Notifications.IOS.P12sandboxPass.Driver" value="123456" />
    <add key="Notifications.IOS.P12.Driver" value="BallyTaxi_PROD.p12" />
    <add key="Notifications.IOS.P12Pass.Driver" value="123456" />
    <add key="Notifications.Android.SenderID.Passenger" value="823648560828" />
    <add key="Notifications.Android.ApiKey.Passenger" value="AIzaSyBZDWI-aCr21Fp11EHdRgy9RFqQ5rlIHSo" />
    <add key="Notifications.Android.Package.Passenger" value="com.quickode.ballytaxi.ballytaxipassenger" />
    <add key="Notifications.IOS.P12sandbox.Passenger" value="BallyTaxi_DEV.p12" />
    <add key="Notifications.IOS.P12sandboxPass.Passenger" value="123456" />
    <add key="Notifications.IOS.P12.Passenger" value="BallyTaxi_PROD.p12" />
    <add key="Notifications.IOS.P12Pass.Passenger" value="123456" />
    <add key="Notifications.IOS.Sandbox" value="false" />
    -->
  </appSettings>
  <connectionStrings>
    <add name="BallyTaxiEntities_SHIMSHONFIS359F" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BallyTaxi;integrated security=False;User=sa;Password=karj1sf;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BallyTaxiEntities_Google" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=130.211.100.159;initial catalog=bally-taxi-test;integrated security=False;User=sa;Password=karj1sf!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BallyTaxiEntities_LENONO1" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=BallyTaxi;Data Source=(localdb)\MSSQLLocalDB;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BallyTaxiEntities_LENONO" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=BallyTaxi;persist security info=True;user id=sa;password=karj1sf;multipleactiveresultsets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BallyTaxiEntities_PREVLive" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=52.210.252.41;Initial Catalog=bally-taxi-test;User ID=sa;Password=Riderapp613!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="BallyTaxiEntities_PREVQA" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=52.31.120.255;Initial Catalog=bally-taxi-test-20170109;User ID=sa; Password=Riderapp613!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BallyTaxiEntities_QA" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=rider-app-dev.c8mzv1hqdej9.eu-west-1.rds.amazonaws.com;Initial Catalog=bally-taxi-test-20170109;persist security info=True;;User ID=sa;Password=190663;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="BallyTaxiEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=rider-app-live.c8mzv1hqdej9.eu-west-1.rds.amazonaws.com;Initial Catalog=BallyTaxi_LIVE;persist security info=True;User ID=sa;Password=190663;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="BallyTaxiEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=rider-app-live.c8mzv1hqdej9.eu-west-1.rds.amazonaws.com;Initial Catalog=BallyTaxiQa;persist security info=True;User ID=sa;Password=190663;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="..\logs\batch.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-5level] - %message%newline" />
      </layout>
    </appender>

    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-5level] - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="Console" />
      <appender-ref ref="RollingFile" />
    </root>

  </log4net>

</configuration>